* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-image: url(https://source.unsplash.com/random); */
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13px;
}

a  {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid white;
  caret-color: white;
  text-align: center;
  color: white;
  font-size: ;
}

input:focus {
  outline: none;
}

h1 {
  font-size: 54px;
}

/* icon common */

.icon-times,
.icon-check,
.icon-square,
.icon-ellipsis {
  height: 22px;
  color: white;
}

/* Weather */

.weather {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
}

.weather-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.weather-icon img {
  width: 40px;
  margin: 0 10px;
}

.weather-temp {
  font-size: 200%;
}

/* Askname */

.askname {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 46%;
  left: 25%;
  z-index: 1;
}

.askNameInput {
  font-size: 300%;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 300px;
}

.hello-screen {
  position: absolute;
  top: 56%;
  left: 34%;
  opacity: 0;
}
/* Main Wrapper  */

.main-wrapper {
  opacity: 0;
  z-index: -1;
}

/* Clock */

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.clock-screen {
  font-size: 168px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  letter-spacing: -5px;
}

/* Greeting */

.greeting {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transition setting */

.disappear {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}

.showing {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  transition-delay: 1000ms;
}

.showing-hello {
  opacity: 1;
  transition: opacity 1000ms ease-in;
  transition-delay: 2000ms;
}

.noshow {
  opacity: 0;
}
